<!-- @format -->

{% extends "challenge/base.html" %}
 {% block content %}
 {% if user.is_authenticated %}
  {% load crispy_forms_tags %}
   {% load static %}
{%block head%}
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
{% with questions|first as question %}
 $(window).load(function() {
    $("#{{question.id}}").click();
  });
{% endwith %}

var end_time= "{{candidate.end_time|date:"M d, Y H:i:s"}}"
</script>
  </head>
{%endblock%}

{% block  timer%}

        <span class="timer"><div id ="demo"></div></span>
{% endblock  %}
<div class="row">
  <nav class="sidebar">
    <div class="sidebar-content">
      <div class="scrollbar-container ps">
        <a class="sidebar-brand" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="align-middle text-primary"
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
        </svg>
        <span class="align-middle">{{ challenge.Title }}</span></a>


        <ul class="sidebar-nav">
          <li class="sidebar-header">Questions</li>
        {% for q in questions %}
           <li  class="tablinks" id="{{q.id}}" onclick="openQuestion(event, '{{q.Title}}','{{q.id}}')">
            <span
              data-toggle="collapse"
              class="sidebar-link collapsed"
              aria-expanded="false">
              <span class="align-middle">{{ forloop.counter }}. {{q.Title}}</span>
          </li></a>
        {% endfor %}
        
        </div>
      </div>
    </div>
  </nav>

</div>
<div class="content">
  {% for q in questions %}
  <div id="{{q.Title}}" class="tabcontent">
    <h3>{{q.Title}}</h3>
    <div class="question-content">{{q.Description}}<br>
    <strong>Sample Input</strong>
    <div class="sample-input">{{q.sample_inputs}}</div>
    <strong>Sample Output</strong>
    <div class="sample-input">{{q.sample_outputs}}</div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="compiler-container">

<form id="codeform" method="POST" >
  {% csrf_token %}
  <div class="editor">
  <div class="editor-header">
  <select id="language" onchange="selectLang()" class="selectpicker">
  <option>C</option>
  <option>C++</option>
  <option>Java</option>
  <option>Python</option>
  <option>C#</option>
</select>

  </div>
  <div class='code-editor' id='codeeditor'></div>
  </div>
  <div class="control">

  <div class="form-group purple-border">
    <label for="exampleFormControlTextarea4">Custom Inputs</label>
    <textarea id="input" class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
  </div>
  <div class="form-group purple-border">
    <label for="exampleFormControlTextarea4">Output</label>
    <textarea id="output" class="form-control" id="exampleFormControlTextarea4" rows="3" disabled></textarea>
  </div>
  <br><br>
  <button type="button" class="btn btn-primary" onclick="runCode()" > Run </button>
  <button type="button" class="btn btn-outline-success" style="margin-left: 38%;">Submit</button>
  </div>
</form>
</div>

</div>
{% else %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ext-language_tools.js"></script>

<script>
$(window).load(function() {
  selectLang();
})
var lang = "Java";
ace.require("ace/ext/language_tools");
var editor = ace.edit("codeeditor");
editor.session.setMode("ace/mode/c_cpp");
editor.setTheme("ace/theme/monokai");
editor.setFontSize("15px");
editor.renderer.setScrollMargin(10, 10);
// enable autocompletion and snippets
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true,
});
var java_code;
var c_code;
var cpp_code;
var python_code;
var csharp_code;

function openQuestion(evt, questionName, q_id) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    document.getElementById(questionName).style.display = "block";

    $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                question:'yes',
                q_id: q_id,
            },
            success: function(json) {
                $('.loader').hide();
                java_code=json.java;
                python_code=json.python;
                c_code=json.c;
                csharp_code=json.csharp;
                cpp_code=json.cpp;
            }
        }).done(function() {
            var ajaxMins2 = new Date().getMinutes() - ajaxMins;
            var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
            var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
            console.log(ajaxSecs2, " seconds");
        });
}
function selectLang() {
    lang = document.getElementById("language").value;
    if (lang == "Java") {
        editor.getSession().setMode("ace/mode/java");
        editor.setValue(java_code);
    } else if (lang == "C" ) {
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue(c_code);
    }
      else if(lang == "C++"){
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue(cpp_code);
      } 
    else if (lang == "C#") {
        editor.getSession().setMode("ace/mode/csharp");
        editor.setValue(csharp_code);
    } else if (lang == "Python") {
        editor.getSession().setMode("ace/mode/python");
        editor.setValue(python_code);

    }
}
function runCode() {

    if (editor.getValue() != "") {
        $('.loader').show();
        var ajaxMins = new Date().getMinutes();
        var ajaxSecs = new Date().getSeconds();
        var ajaxMS = new Date().getMilliseconds();
        $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                compile_run: 'yes',
                code: editor.getValue(),
                input: $('#input').val(),
                language_id: document.getElementById("language").value,
            },
            success: function(json) {
                $('.loader').hide();
                $('#output').html(json.msg);
            }
        }).done(function() {
            var ajaxMins2 = new Date().getMinutes() - ajaxMins;
            var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
            var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
            console.log(ajaxSecs2, " seconds");
        });
    } else {
        $('#output').html("Don't submit empty code");
    }
}
</script>
<script src="{% static 'challenge/scripts/testpage.js' %}"></script>
 {% endblock content%}
