<!-- @format -->

{% extends "challenge/base.html" %}
 {% block content %}
 {% if user.is_authenticated %}
  {% load crispy_forms_tags %}
   {% load static %}
{%block head%}
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
{% with questions|first as question %}
 $(window).load(function() {
    $("#{{question.id}}").click();
     $('#testcase-table').hide();
  });
{% endwith %}

var end_time= "{{candidate.end_time|date:"M d, Y H:i:s"}}"
</script>
  </head>
{%endblock%}

{% block  timer%}

        <span class="timer"><div id ="demo"></div></span>
{% endblock  %}
{% block name %}
<div id="name" >{{candidate.fullname}}</div>
{% endblock name %}
<div class="row">
  <nav class="sidebar">
    <div class="sidebar-content">
      <div class="scrollbar-container ps">
        <a class="sidebar-brand" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="align-middle text-primary"
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
        </svg>
        <span class="align-middle">{{ challenge.Title }}</span></a>
        

        <ul class="sidebar-nav">
          <li class="sidebar-header">Questions</li>
        {% for q in questions %}
           <li  class="tablinks"  onclick="openQuestion(event, '{{q.Title}}','{{q.id}}')">
            <span
              data-toggle="collapse"
              id="{{q.id}}"
              class="sidebar-link collapsed"
              aria-expanded="false">
              <span class="align-middle">{{ forloop.counter }}. {{q.Title}}</span>
          </li></a>
        {% endfor %}
        
        <div class="popup" onclick="instructionPop2()" style="margin-left: 40%;margin-top: 230px;">Note
        <span class="popuptext" id="myPopup2">
        <ul class="note">
        <li class="notelist">Test duration: {{challenge.Test_Duration}} mins</li>
        <li class="notelist">Please ensure your code is submitted</li>
        <li class="notelist">Marks will be alloted only if you submit code</li>
         </ul>       </span>
        </div>
        </ul>
        </div>
      </div>
    </div>
  </nav>

</div>
<div class="content">
  {% for q in questions %}
  <div id="{{q.Title}}" class="tabcontent">
    <h3>{{q.Title}}</h3>
    <div class="question-content">{{q.Description}}<br>
    <strong>Sample Input</strong>
    <div class="sample-input">{{q.sample_inputs}}</div>
    <strong>Sample Output</strong>
    <div class="sample-input">{{q.sample_outputs}}</div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="compiler-container">

<form id="codeform" method="POST" >
      {% csrf_token %}
      <div class="editor">
      <div class="editor-header">
      <div class="header-title">COMPILER</div>
      <select id="language" onchange="selectLang()"  class="selectpicker">
      <option>C</option>
      <option>C++</option>
      <option>Java</option>
      <option>Python</option>
      <option>C#</option>
    </select>

      </div>
      <div class='code-editor' id='codeeditor' ></div>
      </div>
      <div class="control">
      
      <div class="form-group-dark purple-border">
        <label for="exampleFormControlTextarea4">Custom Inputs</label>
        <textarea id="input" class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
      </div><br>
      <div class="form-group-dark purple-border">
        <label for="exampleFormControlTextarea4">Output</label>
        <textarea id="output" class="form-control" id="exampleFormControlTextarea4" style="height: 230px;"rows="3" disabled></textarea>
      </div>
      <div class="popup" onclick="instructionPop()">Instructions
      <span class="popuptext" id="myPopup">Save & run the code before  navigating to other question or changing language</span>
      </div>
      <br>
      <div class="loader">Loading...</div>
      <br>
      <button type="button" class="btn btn-primary-dark" onclick="runCode()" > Save & Run </button>
      <button type="button" class="btn btn-outline-success" onclick="submitCode()" style="margin-left: 22%;">Submit</button>
      
      </div>
</form>
</div>
<div id="testcase-table" class="testcases">
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Testcase</th>
      <th scope="col">Description</th>
      <th scope="col">Result</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Test Case 1</td>
      <td id="tcdescription1"></td>
      <td id="tcstatus1"></td>
      <td id="tcscore1"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Test Case 2</td>
      <td id="tcdescription2"></td>
      <td id="tcstatus2"></td>
      <td id="tcscore2"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Test Case 3</td>
      <td id="tcdescription3"></td>
      <td id="tcstatus3"></td>
      <td id="tcscore3"></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Test Case 4</td>
      <td id="tcdescription4"></td>
      <td id="tcstatus4"></td>
      <td id="tcscore4"></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Test Case 5</td>
      <td id="tcdescription5"></td>
      <td id="tcstatus5"></td>
      <td id="tcscore5"></td>
    </tr>
  </tbody>
</table>
</div>

</div>
{% else %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ext-language_tools.js"></script>

<script>

var lang = "Java";
ace.require("ace/ext/language_tools");
var editor = ace.edit("codeeditor");
editor.session.setMode("ace/mode/c_cpp");
editor.setTheme("ace/theme/monokai");
editor.setFontSize("15px");
editor.renderer.setScrollMargin(10, 10);
// enable autocompletion and snippets
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true,
});

var java_code;
var c_code;
var cpp_code;
var python_code;
var csharp_code;
var active_question;
var first_q;
var req_question;
var testcases;
sidelist = document.getElementsByClassName("sidebar-link collapsed");
active_question= sidelist[0];
function openQuestion(evt, questionName, q_id) {
    var i, tabcontent, tablinks;
    active_question.className="sidebar-link collapsed";
    req_question = q_id;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    document.getElementById(questionName).style.display = "block";
    active_question = document.getElementById(q_id);
    active_question.className = "sidebar-link collapsed active";
    getQuestions(q_id)
    
}

function getQuestions(q_id){
  
        var ajaxMins = new Date().getMinutes();
        var ajaxSecs = new Date().getSeconds();
        var ajaxMS = new Date().getMilliseconds();
        $('#testcase-table').hide();

    $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                question:'yes',
                q_id: q_id,
            },
            success: function(json) {
                $('.loader').hide();
                java_code=json.java;
                python_code=json.python;
                c_code=json.c;
                csharp_code=json.csharp;
                cpp_code=json.cpp;
                selectLang();
            }
        }).done(function() {
            var ajaxMins2 = new Date().getMinutes() - ajaxMins;
            var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
            var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
            console.log(ajaxSecs2, " seconds");
        });
}


function selectLang() {
    lang = document.getElementById("language").value;
    if (lang == "Java") {
        editor.getSession().setMode("ace/mode/java");
        editor.setValue(java_code);
    } else if (lang == "C" ) {
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue(c_code);
    }
      else if(lang == "C++"){
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.setValue(cpp_code);
      } 
    else if (lang == "C#") {
        editor.getSession().setMode("ace/mode/csharp");
        editor.setValue(csharp_code);
    } else if (lang == "Python") {
        editor.getSession().setMode("ace/mode/python");
        editor.setValue(python_code);

    }
    
}
function runCode() {

    if (editor.getValue() != "") {
        $('.loader').show();
        var ajaxMins = new Date().getMinutes();
        var ajaxSecs = new Date().getSeconds();
        var ajaxMS = new Date().getMilliseconds();
        lang = document.getElementById("language").value;
        updateVariables(lang);
        $('#output').html("");
        $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                compile_run: 'yes',
                code: editor.getValue(),
                input: $('#input').val(),
                language: document.getElementById("language").value,
                q_id: req_question,
            },
            success: function(json) {
                $('.loader').hide();
                $('#output').html(json.msg);
            }
        }).done(function() {
            var ajaxMins2 = new Date().getMinutes() - ajaxMins;
            var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
            var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
            console.log(ajaxSecs2, " seconds");
        });
    } else {
        $('#output').html("Don't submit empty code");
    }
}

function submitCode(){
   $('#testcase-table').show();
  if (editor.getValue() != "") {
        $('.loader').show();
        var ajaxMins = new Date().getMinutes();
        var ajaxSecs = new Date().getSeconds();
        var ajaxMS = new Date().getMilliseconds();
        lang = document.getElementById("language").value;
        updateVariables(lang);
        $('#output').html("");
        
        htmlloader="<img class='status-icon' src='/static/img/spinner.gif' alt='Loading...'>"
        $('#tcdescription1').html(htmlloader);
                $('#tcdescription2').html(htmlloader);
                $('#tcdescription3').html(htmlloader);
                $('#tcdescription4').html(htmlloader);
                $('#tcdescription5').html(htmlloader);
                $('#tcstatus1').html(htmlloader);
                $('#tcstatus2').html(htmlloader);
                $('#tcstatus3').html(htmlloader);
                $('#tcstatus4').html(htmlloader);
                $('#tcstatus5').html(htmlloader);
                $('#tcscore1').html(htmlloader);
                $('#tcscore2').html(htmlloader);
                $('#tcscore3').html(htmlloader);
                $('#tcscore4').html(htmlloader);
                $('#tcscore5').html(htmlloader);
                
        $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            cache: false,
            async: true,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                submit_code: 'yes',
                code: editor.getValue(),
                language: document.getElementById("language").value,
                q_id: req_question,
            },

            success: function(json) {
                $('.loader').hide();
                $('#tcdescription1').html(json.tcdescription1);
                $('#tcdescription2').html(json.tcdescription2);
                $('#tcdescription3').html(json.tcdescription3);
                $('#tcdescription4').html(json.tcdescription4);
                $('#tcdescription5').html(json.tcdescription5);
                $('#tcstatus1').html(json.tcstatus1);
                $('#tcstatus2').html(json.tcstatus2);
                $('#tcstatus3').html(json.tcstatus3);
                $('#tcstatus4').html(json.tcstatus4);
                $('#tcstatus5').html(json.tcstatus5);
                $('#tcscore1').html(json.tcscore1);
                $('#tcscore2').html(json.tcscore2);
                $('#tcscore3').html(json.tcscore3);
                $('#tcscore4').html(json.tcscore4);
                $('#tcscore5').html(json.tcscore5);
                
            }
        }).done(function() {
            var ajaxMins2 = new Date().getMinutes() - ajaxMins;
            var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
            var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
            console.log(ajaxSecs2, " seconds",ajaxMS2, " milli seconds");
        });
    } else {
        $('#output').html("Don't submit empty code");
    }

}
function updateVariables(lang){
  if(lang=="C"){
          c_code = editor.getValue()
        }
        else if(lang=="C++"){
          cpp_code = editor.getValue()
        }
        else if(lang=="Python"){
          python_code = editor.getValue()
        }
        else if(lang=="C#"){
          csharp_code = editor.getValue()
        }
        else if(lang=="Java"){
          java_code = editor.getValue()
        }
}
</script>
<script src="{% static 'challenge/scripts/testpage.js' %}"></script>
 {% endblock content%}
